@charset "UTF-8";
.markdown-content {
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  -webkit-user-select: text; }
  .markdown-content > *:first-child {
    margin-top: 0 !important; }
  .markdown-content-headingEnabled h1,
  .markdown-content-headingEnabled h2,
  .markdown-content-headingEnabled h3,
  .markdown-content-headingEnabled h4,
  .markdown-content-headingEnabled h5,
  .markdown-content-headingEnabled h6 {
    position: relative; }
    .markdown-content-headingEnabled h1:hover .fa.fa-link, .markdown-content-headingEnabled h1:hover .markdown-content li.fa-link.checked:before, .markdown-content .markdown-content-headingEnabled h1:hover li.fa-link.checked:before, .markdown-content-headingEnabled h1:hover
    .markdown-content li.fa-link.unchecked:before,
    .markdown-content .markdown-content-headingEnabled h1:hover li.fa-link.unchecked:before,
    .markdown-content-headingEnabled h1:hover .icon-link,
    .markdown-content-headingEnabled h2:hover .fa.fa-link,
    .markdown-content-headingEnabled h2:hover .markdown-content li.fa-link.checked:before, .markdown-content
    .markdown-content-headingEnabled h2:hover li.fa-link.checked:before,
    .markdown-content-headingEnabled h2:hover
    .markdown-content li.fa-link.unchecked:before,
    .markdown-content
    .markdown-content-headingEnabled h2:hover li.fa-link.unchecked:before,
    .markdown-content-headingEnabled h2:hover .icon-link,
    .markdown-content-headingEnabled h3:hover .fa.fa-link,
    .markdown-content-headingEnabled h3:hover .markdown-content li.fa-link.checked:before, .markdown-content
    .markdown-content-headingEnabled h3:hover li.fa-link.checked:before,
    .markdown-content-headingEnabled h3:hover
    .markdown-content li.fa-link.unchecked:before,
    .markdown-content
    .markdown-content-headingEnabled h3:hover li.fa-link.unchecked:before,
    .markdown-content-headingEnabled h3:hover .icon-link,
    .markdown-content-headingEnabled h4:hover .fa.fa-link,
    .markdown-content-headingEnabled h4:hover .markdown-content li.fa-link.checked:before, .markdown-content
    .markdown-content-headingEnabled h4:hover li.fa-link.checked:before,
    .markdown-content-headingEnabled h4:hover
    .markdown-content li.fa-link.unchecked:before,
    .markdown-content
    .markdown-content-headingEnabled h4:hover li.fa-link.unchecked:before,
    .markdown-content-headingEnabled h4:hover .icon-link,
    .markdown-content-headingEnabled h5:hover .fa.fa-link,
    .markdown-content-headingEnabled h5:hover .markdown-content li.fa-link.checked:before, .markdown-content
    .markdown-content-headingEnabled h5:hover li.fa-link.checked:before,
    .markdown-content-headingEnabled h5:hover
    .markdown-content li.fa-link.unchecked:before,
    .markdown-content
    .markdown-content-headingEnabled h5:hover li.fa-link.unchecked:before,
    .markdown-content-headingEnabled h5:hover .icon-link,
    .markdown-content-headingEnabled h6:hover .fa.fa-link,
    .markdown-content-headingEnabled h6:hover .markdown-content li.fa-link.checked:before, .markdown-content
    .markdown-content-headingEnabled h6:hover li.fa-link.checked:before,
    .markdown-content-headingEnabled h6:hover
    .markdown-content li.fa-link.unchecked:before,
    .markdown-content
    .markdown-content-headingEnabled h6:hover li.fa-link.unchecked:before,
    .markdown-content-headingEnabled h6:hover .icon-link {
      display: inline-block; }
    .markdown-content-headingEnabled h1 .fa.fa-link:hover, .markdown-content-headingEnabled h1 .markdown-content li.fa-link.checked:hover:before, .markdown-content .markdown-content-headingEnabled h1 li.fa-link.checked:hover:before, .markdown-content-headingEnabled h1
    .markdown-content li.fa-link.unchecked:hover:before,
    .markdown-content .markdown-content-headingEnabled h1 li.fa-link.unchecked:hover:before,
    .markdown-content-headingEnabled h1 .icon-link:hover,
    .markdown-content-headingEnabled h2 .fa.fa-link:hover,
    .markdown-content-headingEnabled h2 .markdown-content li.fa-link.checked:hover:before, .markdown-content
    .markdown-content-headingEnabled h2 li.fa-link.checked:hover:before,
    .markdown-content-headingEnabled h2
    .markdown-content li.fa-link.unchecked:hover:before,
    .markdown-content
    .markdown-content-headingEnabled h2 li.fa-link.unchecked:hover:before,
    .markdown-content-headingEnabled h2 .icon-link:hover,
    .markdown-content-headingEnabled h3 .fa.fa-link:hover,
    .markdown-content-headingEnabled h3 .markdown-content li.fa-link.checked:hover:before, .markdown-content
    .markdown-content-headingEnabled h3 li.fa-link.checked:hover:before,
    .markdown-content-headingEnabled h3
    .markdown-content li.fa-link.unchecked:hover:before,
    .markdown-content
    .markdown-content-headingEnabled h3 li.fa-link.unchecked:hover:before,
    .markdown-content-headingEnabled h3 .icon-link:hover,
    .markdown-content-headingEnabled h4 .fa.fa-link:hover,
    .markdown-content-headingEnabled h4 .markdown-content li.fa-link.checked:hover:before, .markdown-content
    .markdown-content-headingEnabled h4 li.fa-link.checked:hover:before,
    .markdown-content-headingEnabled h4
    .markdown-content li.fa-link.unchecked:hover:before,
    .markdown-content
    .markdown-content-headingEnabled h4 li.fa-link.unchecked:hover:before,
    .markdown-content-headingEnabled h4 .icon-link:hover,
    .markdown-content-headingEnabled h5 .fa.fa-link:hover,
    .markdown-content-headingEnabled h5 .markdown-content li.fa-link.checked:hover:before, .markdown-content
    .markdown-content-headingEnabled h5 li.fa-link.checked:hover:before,
    .markdown-content-headingEnabled h5
    .markdown-content li.fa-link.unchecked:hover:before,
    .markdown-content
    .markdown-content-headingEnabled h5 li.fa-link.unchecked:hover:before,
    .markdown-content-headingEnabled h5 .icon-link:hover,
    .markdown-content-headingEnabled h6 .fa.fa-link:hover,
    .markdown-content-headingEnabled h6 .markdown-content li.fa-link.checked:hover:before, .markdown-content
    .markdown-content-headingEnabled h6 li.fa-link.checked:hover:before,
    .markdown-content-headingEnabled h6
    .markdown-content li.fa-link.unchecked:hover:before,
    .markdown-content
    .markdown-content-headingEnabled h6 li.fa-link.unchecked:hover:before,
    .markdown-content-headingEnabled h6 .icon-link:hover {
      color: #0e87cd;
      text-decoration: none; }
  .markdown-content blockquote {
    color: #888;
    font-size: 1em;
    border-left: solid 4px #f0f0f0;
    padding: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: .8em; }
    .markdown-content blockquote > *:first-child {
      margin-top: 0; }
    .markdown-content blockquote h1,
    .markdown-content blockquote h2,
    .markdown-content blockquote h3,
    .markdown-content blockquote h4,
    .markdown-content blockquote h5,
    .markdown-content blockquote h6 {
      color: #a2a2a2; }
    .markdown-content blockquote p:last-child {
      margin: 0; }
  .markdown-content a {
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px dotted transparent;
    color: #0e87cd;
    text-decoration: none;
    transition: all .2s ease-in-out; }
    .markdown-content a:hover {
      color: #0b689d;
      border-color: #0b689d; }
  .markdown-content hr {
    margin: 1em 0;
    border: 0;
    height: 2px;
    background-color: #ddd; }
  .markdown-content em {
    font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-style: italic; }
  .markdown-content strong {
    font-weight: 700; }
  .markdown-content b {
    font-weight: 700; }
  .markdown-content ins {
    font-weight: 700; }
  .markdown-content del {
    text-decoration: line-through; }
  .markdown-content p {
    word-wrap: break-word;
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.7; }
  .markdown-content img {
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    max-width: 100%; }
  .markdown-content dl {
    margin: 1em 0; }
    .markdown-content dl dd {
      margin-left: 2em; }
  .markdown-content table {
    margin: 1em 0;
    border-left: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
    border-collapse: collapse; }
  .markdown-content td,
  .markdown-content th {
    border-bottom: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
    padding: 8px 10px;
    word-wrap: break-word; }
  .markdown-content thead td,
  .markdown-content th {
    font-weight: 700;
    background-color: #efefef; }
  .markdown-content tbody:nth-child(odd) tr {
    background-color: rgba(0, 0, 0, 0.03); }
  .markdown-content li p:first-child {
    margin: 0; }
  .markdown-content ol,
  .markdown-content ul {
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 1.5em; }
  .markdown-content ol > li {
    list-style-type: decimal; }
  .markdown-content ul > li {
    list-style-type: disc; }
  .markdown-content li.checked,
  .markdown-content li.unchecked {
    position: relative;
    display: block;
    list-style-type: none; }
    .markdown-content li.checked:before,
    .markdown-content li.unchecked:before {
      display: block;
      position: absolute;
      left: -20px;
      top: 6px; }
  .markdown-content li.checked:before {
    content: '\f046'; }
  .markdown-content li.unchecked:before {
    content: '\f096'; }
  .markdown-content li > ol,
  .markdown-content li > ul {
    margin-bottom: 0;
    margin-top: 0; }
  .markdown-content h1,
  .markdown-content h2,
  .markdown-content h3,
  .markdown-content h4,
  .markdown-content h5,
  .markdown-content h6 {
    font-weight: normal;
    line-height: 1.4;
    margin: 1.35em 0 .7em; }
  .markdown-content h1 {
    padding-bottom: .3em;
    line-height: 1.2;
    border-bottom: 2px solid #ddd;
    font-size: 1.8em; }
    .markdown-content h1 .emoji {
      width: 0.9em;
      height: 0.9em;
      vertical-align: top; }
  .markdown-content h2 {
    padding-bottom: .3em;
    line-height: 1.225;
    border-bottom: 1px dotted #d5d5d5;
    font-size: 1.6em; }
    .markdown-content h2 .emoji {
      width: 0.96em;
      height: 0.96em;
      vertical-align: top; }
  .markdown-content h3 {
    font-size: 1.5em;
    line-height: 1.43;
    margin-top: 1.4em; }
  .markdown-content h4 {
    margin-top: 1.3em;
    font-size: 1.4em; }
  .markdown-content h5 {
    margin-top: 1.5em;
    font-size: 1em; }
  .markdown-content h6 {
    margin-top: 1.5em;
    font-size: 1em; }
  .markdown-content pre {
    width: 100%;
    display: block;
    position: relative; }
  .markdown-content iframe {
    width: 100%; }
  .markdown-content .code-frame {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 0;
    background-color: #f4f4f4;
    border-radius: 4px;
    line-height: 1; }
    .markdown-content .code-frame .highlight {
      background-color: transparent; }
    .markdown-content .code-frame pre {
      box-sizing: border-box;
      padding: 8px 10px;
      line-height: 20px;
      overflow-x: auto; }
  .markdown-content code {
    font-size: 13px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }
  .markdown-content .inlineCode {
    width: auto;
    margin: 0 2px;
    padding: 0 5px;
    font-size: 12px; }
  .markdown-content .code-lang {
    color: #222;
    display: inline-block;
    padding: 3px 6px;
    margin: 0;
    -webkit-border-top-left-radius: 4px;
    background-color: #e7e7e7;
    line-height: 1;
    vertical-align: top;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 11px; }
  .markdown-content .emoji {
    width: 20px;
    height: 20px; }
  .markdown-content .fa.fa-link, .markdown-content li.fa-link.checked:before, .markdown-content li.fa-link.unchecked:before,
  .markdown-content .icon-link {
    display: none;
    position: absolute;
    top: 50%;
    left: -28px;
    margin-top: -18px;
    padding: 10px 5px 10px 10px;
    color: #222;
    font-size: 16px;
    font-weight: 400; }
  .markdown-content .footnotes {
    font-size: .9em;
    margin-top: 2em; }
    .markdown-content .footnotes hr {
      display: none; }
  .markdown-content .fragment {
    position: relative;
    top: -10px;
    display: block; }
  .markdown-content .highlight {
    background: #fff; }
    .markdown-content .highlight .c {
      color: #998;
      font-style: italic; }
    .markdown-content .highlight .err {
      color: #a61717;
      background-color: #e3d2d2; }
    .markdown-content .highlight .k {
      font-weight: bold; }
    .markdown-content .highlight .o {
      font-weight: bold; }
    .markdown-content .highlight .cm {
      color: #998;
      font-style: italic; }
    .markdown-content .highlight .cp {
      color: #999;
      font-weight: bold; }
    .markdown-content .highlight .c1 {
      color: #998;
      font-style: italic; }
    .markdown-content .highlight .cs {
      color: #999;
      font-weight: bold;
      font-style: italic; }
    .markdown-content .highlight .gd {
      color: #000;
      background-color: #fdd; }
      .markdown-content .highlight .gd .x {
        color: #000;
        background-color: #faa; }
    .markdown-content .highlight .ge {
      font-style: italic; }
    .markdown-content .highlight .gr {
      color: #a00; }
    .markdown-content .highlight .gh {
      color: #999; }
    .markdown-content .highlight .gi {
      color: #000;
      background-color: #dfd; }
      .markdown-content .highlight .gi .x {
        color: #000;
        background-color: #afa; }
    .markdown-content .highlight .go {
      color: #888; }
    .markdown-content .highlight .gp {
      color: #555; }
    .markdown-content .highlight .gs {
      font-weight: bold; }
    .markdown-content .highlight .gu {
      color: #800080;
      font-weight: bold; }
    .markdown-content .highlight .gt {
      color: #a00; }
    .markdown-content .highlight .kc {
      font-weight: bold; }
    .markdown-content .highlight .kd {
      font-weight: bold; }
    .markdown-content .highlight .kn {
      font-weight: bold; }
    .markdown-content .highlight .kp {
      font-weight: bold; }
    .markdown-content .highlight .kr {
      font-weight: bold; }
    .markdown-content .highlight .kt {
      color: #458;
      font-weight: bold; }
    .markdown-content .highlight .m {
      color: #099; }
    .markdown-content .highlight .s {
      color: #d14; }
    .markdown-content .highlight .n {
      color: #333; }
    .markdown-content .highlight .na {
      color: #008080; }
    .markdown-content .highlight .nb {
      color: #0086b3; }
    .markdown-content .highlight .nc {
      color: #458;
      font-weight: bold; }
    .markdown-content .highlight .no {
      color: #008080; }
    .markdown-content .highlight .ni {
      color: #800080; }
    .markdown-content .highlight .ne {
      color: #900;
      font-weight: bold; }
    .markdown-content .highlight .nf {
      color: #900;
      font-weight: bold; }
    .markdown-content .highlight .nn {
      color: #555; }
    .markdown-content .highlight .nt {
      color: #000080; }
    .markdown-content .highlight .nv {
      color: #008080; }
    .markdown-content .highlight .ow {
      font-weight: bold; }
    .markdown-content .highlight .w {
      color: #bbb; }
    .markdown-content .highlight .mf {
      color: #099; }
    .markdown-content .highlight .mh {
      color: #099; }
    .markdown-content .highlight .mi {
      color: #099; }
    .markdown-content .highlight .mo {
      color: #099; }
    .markdown-content .highlight .sb {
      color: #d14; }
    .markdown-content .highlight .sc {
      color: #d14; }
    .markdown-content .highlight .sd {
      color: #d14; }
    .markdown-content .highlight .s2 {
      color: #d14; }
    .markdown-content .highlight .se {
      color: #d14; }
    .markdown-content .highlight .sh {
      color: #d14; }
    .markdown-content .highlight .si {
      color: #d14; }
    .markdown-content .highlight .sx {
      color: #d14; }
    .markdown-content .highlight .sr {
      color: #009926; }
    .markdown-content .highlight .s1 {
      color: #d14; }
    .markdown-content .highlight .ss {
      color: #990073; }
    .markdown-content .highlight .bp {
      color: #999; }
    .markdown-content .highlight .vc {
      color: #008080; }
    .markdown-content .highlight .vg {
      color: #008080; }
    .markdown-content .highlight .vi {
      color: #008080; }
    .markdown-content .highlight .il {
      color: #099; }
    .markdown-content .highlight .gc {
      color: #999;
      background-color: #eaf2f5; }
  .markdown-content .MathJax img,
  .markdown-content .MathJax_Display img {
    border: 0 !important; }
  .markdown-content .parenthesis li {
    list-style-type: none; }
    .markdown-content .parenthesis li span {
      margin-left: -1.5em;
      margin-right: .5em; }
